<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>499302717723-e4ms62lq6rpfhs41vf74nbgob4se8fsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499302717723-e4ms62lq6rpfhs41vf74nbgob4se8fsj</string>
	<key>API_KEY</key>
	<string>AIzaSyDh_CW9juxm5kU3nU4H7FGfhymeOKeR6nA</string>
	<key>GCM_SENDER_ID</key>
	<string>499302717723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CristianMolina.CloudCamera</string>
	<key>PROJECT_ID</key>
	<string>cloudcamera-c8099</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudcamera-c8099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499302717723:ios:4a9e81585cf7da1f</string>
	<key>DATABASE_URL</key>
	<string>https://cloudcamera-c8099.firebaseio.com</string>
</dict>
</plist>